.thumbnail
	%img{ :src => "http://placehold.it/450x180/#{color}", :alt => "placeholder"}
	.caption
		%h5 Placeholder
		%p= copy
		%p
			%a.btn.btn-primary{ :href => "#" } Shit yeah
			%a.btn{ :href => "#" } Nah