<div class="thumbnail">
	<img src="http://placehold.it/450x180/<%= color %>" alt="placeholder" />
	<div class="caption">
		<h5>Placeholder</h5>
		<p>
			<%= copy %>
		</p>
		<p>
			<a href="#" class="btn btn-primary">Shit yeah</a>
			<a href="#" class="btn">Nah son</a>
		</p>
	</div>
</div>