<div class="hero-unit">
	<div class="row-fluid">
		<div class="span9">
		<h1>Welcome to Rails + Bootstrap!</h1>
		<p><i class="icon-bookmark"></i> Enjoy your stay son</p>
		</div>

		<div class="span3">
			<%= render :partial => "shared/hero_thumb" %>	
		</div>
	</div>
</div>
<ul class="thumbnails">
	<li class="span6">
		<%= render :partial => "shared/home_thumb", 
			:locals => { :color => "acdeef", :copy => "Lorem ipsum all up in this motherfucker son" } %>
	</li>

	<li class="span6">
		<%= render :partial => "shared/home_thumb", 
			:locals => { :color => "ffcade", :copy => "All day errrday we do it like it should be does" } %>
	</li>	
</ul>